@use "../base/variables" as v;
@use "../base/mixins" as m;

.escuela {
  padding: 20rem 0;
  background-image: url("../img/chef_bg.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__content {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
  }

  &__titulo {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    color: v.$blanco;
  }

  &__texto {
    color: v.$blanco;
    margin-bottom: 2rem;
  }

  &__enlace {
    @include m.boton(v.$primario, v.$blanco);
    margin: 0;
  }
}
